// body {
//   background-color: #f1f1f1;
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   min-height: 100vh;
// }
/* wrapper */
.wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
}
.table__students {
  width: 100%;
}
.th_1 {
  width: 64px !important;
}
.th_2 {
  width: 270px !important;
}
.th_3 {
  width: 119px !important;
}
.th_4 {
  width: 117px !important;
}
.th_5 {
  width: 154px !important;
}
.th_6 {
  width: 140px !important;
}
.th_7 {
  width: 140px !important;
}
.th_8 {
  width: 110px !important;
}
.th_9 {
  width: 110px !important;
  padding: 0
}
.th_10 {
  width: 50px !important;
}
/* title */
.title-container {
  height: 40px;
  border-radius: 8px;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  color: #606060;
  font-weight: 400;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 0px 16px;
}
/* table */
.table-container {
  border: 1px solid #e8e7e7;
  border-radius: 11px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  width: 637px;
}

.table__students tr th {
  font-size: 14px;
  font-weight: 500;
  color: #fff;
  background-color: #4318ff;
  width: auto;
}
.table__students tr td {
  color: #606060;
  font-size: 16px;
  font-weight: 400;
}
.table__students th,
td {
  padding: 12px;
  text-align: center;
}
/* even and odd color */
.table__students tbody tr:nth-child(odd) {
  background-color: #fff;
}
.table__students tbody tr:nth-child(even) {
  background-color: #f8f8f8;
}
.emptyH2 {
  text-align: center;
  margin-top: 200px;
}
/* media query */
@media only screen and (max-width: 600px) {
  .table-container {
    width: 303px;
    overflow-x: auto;
  }
}
.norm__student {
  color: rgb(19, 19, 18) !important;
}
.studentGreen {
  color: green !important;
}
.studentRed {
  color: red !important;
}
